<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block relbar1 %}{% endblock %}
<div class="document">
    <div class="documentwrapper">
        <div class="bodywrapper">
            <div class="body">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block sidebar %}{% endblock %}
<div class="clearer"></div>
{% block relbar2 %}{% endblock %}
{% block footer %}{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>
