{% extends 'base.jinja2' %}
{% block title %}{{ document.title }}{% endblock %}
{% block css %}
    {{ super() }}
    {{ document.css|safe }}
{% endblock %}

{% block body %}
    {{ document.relbar|safe }}

    <div class="document">
        <div class="documentwrapper">
            <div class="bodywrapper">
                <div class="body">
                    {{ document.body|safe }}
                </div>
            </div>
        </div>
        {{ document.sidebar|safe }}
        {% block sidebar %}{% endblock %}
        {{ document.relbar|safe }}
        <div class="clearer"></div>
    </div>
{% endblock %}

{%- block footer %}
    <div class="footer">
        {%- if docglobal %}
            {%- if docglobal.show_copyright %}
                &copy; Copyright {{ docglobal.copyright }}.
            {%- endif %}
            {%- if docglobal.last_updated %}
                Last updated on {{ docglobal.last_updated }}.
            {%- endif %}
            {%- if docglobal.show_sphinx %}
                Created using <a href="http://sphinx.pocoo.org/">Sphinx</a>
                {{ docglobal.sphinx_version }}.
            {%- endif %}
        {%- endif %}
    </div>
{%- endblock %}
